<template>
  <v-menu
    v-model="isOpen"
    :close-on-content-click="false"
    :max-width="600"
    :class="compName"
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="indigo"
          dark
          v-bind="attrs"
          v-on="on"
          :class="`${compName}-activator`">
        Open Filter
      </v-btn>
    </template>
    <v-card v-if="isOpen" :class="`${compName}-card`">
      <v-list :class="`${compName}-list`">
        <v-list-item v-for="(lineValues) in filterValue"
                     :key="lineValues.lineId"
                     :class="`${compName}-item`">
          <FilterLine :lineValues="lineValues"
                      :filterSelectConfig="filterSelectConfig"
                      @onChangeFilterLine="onChangeFilterLine"/>
          <v-btn aria-label="Remove Line"
                 text
                 icon
                 color="indigo"
                 :class="`${compName}-remove`"
                 @click="onRemoveLine(lineValues.lineId)">
            <v-icon>mdi-minus-circle</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
      <div :class="`${compName}-footer`">
        <v-btn color="primary" text :class="`${compName}-add`" @click="onAddFilter">
          <v-icon left>mdi-plus-circle</v-icon>
          Add Filter
        </v-btn>
        <v-btn color="primary" text :class="`${compName}-clear`" @click="onClearAll">
          <v-icon left>mdi-delete</v-icon>
          Remove All
        </v-btn>
      </div>
    </v-card>
  </v-menu>
</template>

<script>
import FilterLine from './FilterLine.vue';
import {filterLineProps, buildEmptyLine} from './filterVars.js';

export default {
  name: 'FilterComponent',
  components: {
    FilterLine
  },
  data: () => {
    return {
      isOpen: false,
      filterValue: [],
    }
  },
  props: {
    filterLines: {
      type: Array,
      defaultValue: null,
      required: true
    },
    filterSelectConfig: {
      type: Object,
      defaultValue: null,
      required: true
    },
  },
  created() {
    this.compName = 'filter-component';
  },
  watch: {
    isOpen(newValue) {
      if (newValue) {
        this.filterValue = this.filterLines;
        if (!this.filterValue.length) {
          this.onAddFilter();
        }
      }
      else {
        this.clearEmptyFilterLines();
        this.$emit('onChangeFilter', this.filterValue);
        if (this.filterValue.length) {
          this.onClearAll();
        }
      }
    }
  },
  methods: {
    getUniqueId() {
      return `${filterLineProps['LINE_ID']}_` + Math.random().toString(16).slice(2);
    },
    onChangeFilterLine(lineId, propertyName, newValue) {
      let updatedLine = this.filterValue.find(line => line.lineId === lineId);
      if (updatedLine) {
        updatedLine[propertyName] = newValue;
      }
    },
    onRemoveLine(removedLineId) {
      this.filterValue = this.filterValue.filter(line => line.lineId !== removedLineId);
      if (!this.filterValue.length) {
        this.isOpen = false;
      }
    },
    onAddFilter() {
      const newLine = Object.values(filterLineProps).reduce(buildEmptyLine, {});
      newLine[filterLineProps['LINE_ID']] = this.getUniqueId();
      this.filterValue = [...this.filterValue, newLine];
    },
    onClearAll() {
      this.filterValue = [];
      this.isOpen = false;
    },
    clearEmptyFilterLines() {
      const validateFilterLine = (filterLine) => Object.entries(filterLine).every(
        ([name, value]) => {
          if (name === filterLineProps['LINE_ID']) {
            return true;
          }
          return value === null;
        }
      );
      this.filterValue = this.filterValue.filter(filterLine => !validateFilterLine(filterLine))
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-component {
  &-card {
    padding: 16px;
  }
  &-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }
  &-remove {
    margin-left: 8px;
    align-self: flex-start;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }
}
</style>