<template>
  <div :class="compName">
    <template v-for="[selectValueName, selectProps] in Object.entries(filterSelectConfig)">
      <v-select :key="selectProps.label"
                :value="lineValues[selectValueName]"
                :items="selectProps.options"
                :label="selectProps.label"
                :multiple="selectProps.multiple"
                dense
                :class="`${compName}-select`"
                @change="(newValue) =>
                  $emit('onChangeFilterLine', lineValues.lineId, selectValueName, newValue)"/>
    </template>
  </div>
</template>

<script>
export default {
  name: 'FilterLine',
  props: {
    filterSelectConfig: {
      type: Object,
      defaultValue: {},
      required: true
    },
    lineValues: {
      type: Object,
      defaultValue: {},
      required: true
    }
  },
  created() {
    this.compName = 'filter-line';
  }
}
</script>

<style lang="scss" scoped>
.filter-line {
  display: flex;
  align-items: center;
  gap: 26px;
  &-select {
    flex-basis: 30%;
  }
}
</style>