<template>
  <div class="filter-parent">
    <FilterComponent :filterLines="filterLines"
                      :filterSelectConfig="filterSelectConfig"
                      @onChangeFilter="onChangeFilter"/>
    <div>
      Filter object:
    </div>
    {{ JSON.stringify(filterLines) }}
  </div>
</template>

<script>
import FilterComponent from '@/components/filter/FilterComponent.vue';
import {operatorOptions, columnHeaderOptions, columnValueOptions} from '@/components/filter/items';
import {filterLineProps, filterSelectConfig} from '@/components/filter/filterVars';

export default {
  name: 'FilterParent',
  components: {
    FilterComponent
  },
  data() {
    return {
      filterLines: []
    }
  },
  created() {
    this.filterSelectConfig = filterSelectConfig;
    this.filterSelectConfig[filterLineProps['COLUMN_HEADER']].options = columnHeaderOptions;
    this.filterSelectConfig[filterLineProps['OPERATOR']].options = operatorOptions;
    this.filterSelectConfig[filterLineProps['COLUMN_VALUE']].options = columnValueOptions;
  },
  methods: {
    onChangeFilter(newValue) {
      this.filterLines = newValue;
    }
  }
}
</script>

<style>
.filter-parent {
  
}
</style>