<template>
  <div :class="compName">
    <v-expansion-panels :class="`${compName}-panels`">
      <v-expansion-panel
          v-for="(item, i) in items"
          :key="i"
      >
        <v-expansion-panel-header>
          {{ item.name }}
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          {{ item.description}}
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
import items from '../assets/data/itemsWithDesctiption.json';
export default {
  name: 'CollapsableList',
  data: () => {
    return {
      compName: 'collapsable-list'
    };
  },
  computed: {
    items() {
      return items;
    }
  }
}
</script>

<style lang="scss" scoped>
.collapsable-list {
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
}
</style>
