<template>
  <div id="example1">
    <v-btn @click.prevent="isPanelOpen = true">Click</v-btn>

    <div class="sidebar">
      <div class="sidebar-backdrop" @click="closeSidebarPanel" v-if="isPanelOpen"></div>
      <transition name="slide">
        <div v-if="isPanelOpen"
             class="sidebar-panel">
        </div>
      </transition>
    </div>

    <hot-table :settings="hotSettings">
    </hot-table>
    <!--<ag-grid-vue-->
            <!--style="width: 500px; height: 200px"-->
            <!--class="ag-theme-alpine"-->
            <!--:columnDefs="columnDefs"-->
            <!--:rowData="rowData"-->
    <!--&gt;-->
    <!--</ag-grid-vue>-->
  </div>
</template>

<script>
import { HotTable } from '@handsontable/vue';
// import { AgGridVue } from 'ag-grid-vue3';
// import { ModuleRegistry } from '@ag-grid-community/core';
// import { ClientSideRowModelModule } from '@ag-grid-community/client-side-row-model';
//
// ModuleRegistry.registerModules([ClientSideRowModelModule]);

export default {
  name: 'HelloWorld',
  data: function() {
      return {
          hotSettings: {
              data: [
                  ['', 'Ford', 'Volvo', 'Toyota', 'Honda'],
                  ['2016', 10, 11, 12, 13],
                  ['2017', 20, 11, 14, 13],
                  ['2018', 30, 15, 12, 13]
              ],
              colHeaders: true,
              height: 'auto',
              licenseKey: 'non-commercial-and-evaluation'
          },
          columnDefs: null,
          rowData: null,
          title: "Some text",
          isPanelOpen: true,
      };
  },
  components: {
    HotTable
  },
  beforeMount() {
      this.columnDefs = [
          { field: "make" },
          { field: "model" },
          { field: "price" },
      ];

      this.rowData = [
          { make: "Toyota", model: "Celica", price: 35000 },
          { make: "Ford", model: "Mondeo", price: 32000 },
          { make: "Porsche", model: "Boxster", price: 72000 },
      ];
  },
  methods: {
    closeSidebarPanel() {
        this.isPanelOpen = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .slide-enter-active,
  .slide-leave-active
  {
    transition: transform 0.2s ease;
  }

  .slide-enter,
  .slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s
  }

  .sidebar-backdrop {
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .sidebar-panel {
    overflow-y: auto;
    background-color: #130f40;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    padding: 3rem 20px 2rem 20px;
    width: 300px;
  }
</style>
