<template>
  <div :class="compName">
    <div :class="`${compName}-card`">
      <v-list>
        <v-subheader>User Controls</v-subheader>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Content filtering1</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              Set the content filtering level to restrict appts that can be downloaded or not downloaded. Or something
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Password1</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              A while back I needed to count the amount of letters that a piece of text in an email template had (to avoid passing any character limits). Unfortunately, I could not think of a quick way to do so on my macbook and I therefore turned to the Internet.

              There were a couple of tools out there, but none of them met my standards and since I am a web designer I thought: why not do it myself and help others along the way? And... here is the result, hope it helps out!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Content filtering2</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              Set the content filtering level to restrict appts that can be downloaded or not downloaded. Or something
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Password2</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              A while back I needed to count the amount of letters that a piece of text in an email template had.
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Content filtering3</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              Set the content filtering level to restrict appts that can be downloaded or not downloaded. Or something
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Password3</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              A while back I needed to count the amount of letters that a piece of text in an email template had.
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Content filtering4</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              Set the content filtering level to restrict appts that can be downloaded or not downloaded. Or something
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-list-item :class="`${compName}-item`">
          <v-list-item-content>
            <v-list-item-title :class="`${compName}-title`">Password4</v-list-item-title>
            <v-list-item-subtitle :class="`${compName}-subtitle`">
              A while back I needed to count the amount of letters that a piece of text in an email template had.
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </div>
  </div>

</template>

<script>

export default {
  name: 'MenuWithList',
  data: function() {
      return {
          compName: 'menu-with-list'
      };
  },
}
</script>

<style lang="scss" scoped>
  .menu-with-list {
    letter-spacing: 0.25px;
    &-card {
      width: 520px;
      max-height: 450px;
      border: 1px solid black;
      overflow: auto;
    }
    &-item:hover {
      padding: 12px 16px;
      background-color: #1976d21f;
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
    &-subtitle {
      display: none;
      font-size: 14px;
      line-height: 20px;
      margin-top: 4px;
      white-space: normal;
      .menu-with-list-item:hover & {
        display: block;
      }

    }
  }
</style>
