<template>
  <div id="app">
    <v-app>
      <FilterParent />
    </v-app>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import FilterParent from './components/filter/FilterParent.vue'

export default {
  name: 'App',
  components: {
    // HelloWorld,
    FilterParent,
      // MenuWithList
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
